/*
Styles for displaying the content within a live post editor.
*/
.wysiwyg-editor {
    min-height: 40vh;
    max-height: 40vh;
    min-width: 70vw;
    max-width: 70vw;
    overflow-y: scroll;
    border: 1px solid #f1f1f1;
    cursor: text;
    padding-left: 10vw;
    padding-right: 10vw;
}

.wysiwyg-editor-responsive {
    min-height: 40vh;
    max-height: 40vh;
    min-width: auto;
    max-width: 95vw;
    overflow-y: scroll;
    border: 1px solid #f1f1f1;
    cursor: text;
    padding-left: 4vw;
    padding-right: 4vw;
}

/*.wysiwyg-toolbar{*/
/*max-width: 82vw;*/
/*}*/

/*
TODO: use mediaquery to make maxwidth bigger for smaller devices
*/
.wysiwyg-editor img,
.wysiwyg-editor-responsive img {
    max-width: 25vw;
}

/*
Styles for displaying posts using a read-only editor.
*/
.wysiwyg-editor-readOnly {
    position: relative;
    overflow: visible;
    padding-bottom: 5vh;
}

/*
 * Image sizing for Post page (for image style in editor see non-readonly section above)
 */
.wysiwyg-editor-readOnly img {
    max-width: 25vw;
}

/* TODO: If above ~25vw, causes an issue on medium-sized mobile devices (e.g. ipad)
 *      when switching from post page back to feed, the feed width expands slightly.
 */
.wysiwyg-editor-readOnly-responsive img {
    max-width: 50vw;
}

/*
rdw-image-imagewrapper is the name of the span which is the image container
if we set text-align: center on this span, the images will center even with a fixed-percent width, but alignment tool
will no longer work
*/
/*.wysiwyg-editor-readOnly .rdw-image-imagewrapper{*/
/*text-align: center;*/
/*}*/

/*for image resize, try:
https://stackoverflow.com/questions/8846756/how-can-i-resize-an-image-without-stretching
https://stackoverflow.com/questions/15941803/resize-img-to-window-size-keeping-aspect-ratio-no-overflow-on-height-or-width
*/
